.singleArticle {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}

.mainSection {
  max-width: 100vw;
  width: 960px;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }
}

.center {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 10em;
  border: 3px solid #89A2B5;
  padding: 10px;
}

.singleArticleContainer {
  min-height: 100vh;
  background: #fafbfc;
}
