.container {
  padding: 3% 10%;
}

.button {
  display: block !important;
  margin: 30px auto !important;
}

.inputContainer {
  input,
  input::-webkit-input-placeholder {
    font-size:  2.5rem;
  }
}

.input {
  border: 0 !important;
  box-shadow: none !important;
}
