.listItem {
  max-width: 100vw;
  box-sizing: border-box;
}

.articleFeed {
  box-sizing: border-box;
  background: #FFF;
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  max-width: 960px;
  padding: 60px;
  width: 960px;
  @media screen and (max-width: 960px) {
    padding: 30px;
    width: 910px;
  }
  @media screen and (max-width: 850px) {
    max-width: 100vw !important;
    width: 848px;
    padding: 30px;
  }
  @media screen and (max-width: 768px) {
    width: 100vw;
    padding: 0 !important;
  }
}

.feedHeading {
  margin-top: 60px;
}

.mainSection {
  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }
}
