.panel {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167, 157, 144, 0.52);
  max-width: 100vw;
  box-sizing: border-box;
  padding: 60px 10px !important;
}
