.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
}

.innerWrapper {
  width: 80vw;
  justify-content: center;
}

.listWrapper {
  min-height: 300px;
  min-width: 600px;
  border: 1px solid black;
  max-width: 100vw !important;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    border: none;
  }
}

.flexGrow {
  flex-grow: 1;
}
