.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.innerWrapper {
  width: 80vw;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    width: 70vw;
  }
}

.listWrapper {
  min-height: 750px;
  max-width: 100vw !important;
  box-sizing: border-box;
}

.flexGrow {
  flex-grow: 1;
}

.small {
  max-width: 50px !important;
}
