.avatarWrapper {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.avatarImage {
  width: 200px;
  height: auto;
  max-height: 300px;
}

.aside {
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  margin-left: 30px;
  @media screen and (max-width: 1260px) {
    display: none !important;
  }
}

.innerWidgetBox {
  border: 1px solid #dbe2e8;
}
