.avatarWrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  max-width: 250px;
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  @media screen and (max-width: 1260px) {
    display: none !important;
  }
}

.innerWidgetBox {
  border: 1px solid #dbe2e8;
}

.button {
  padding-right: 5px !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbe2e8;
}
