.mainContent {
  background: #FFF;
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  @media screen and (max-width: 768px) {
    padding-top: 0 !important;
    max-width: 100vw;
    box-sizing: border-box;
  }
  max-width: 960px;
  padding: 60px 0;
}

.mainSection {
  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }
}
