.listItem {
  width: 960px;
  max-width: 100vw;
  box-sizing: border-box;
}

.articleFeed {
  background: #FFF;
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  max-width: 960px;
  @media screen and (max-width: 500px) {
    max-width: 100vw !important;
    box-sizing: border-box;
  }
}

.feedHeading {
  margin-top: 60px;
}
