.heading {
  padding: 20px;
}

.singleArticle {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 60px 40px !important;
}
