.heading {
  padding: 20px;
}

.singleArticle {
  position: relative;
  width: 100%;
  max-width: 750px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167, 157, 144, 0.52);
  margin: 80px 0;
  padding: 60px !important;
}
