.userAvatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.profileName {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.rightMenu {
  margin-right: 20px !important;
}
