.titleImage {
  margin-left: 20px
}

.navbar {
  border-bottom: 2px solid rgb(147, 147, 147);
}

.leftMenu {
  flex: 1;
  margin-left: 20px;
}

.rightMenu {
  margin-right: 20px !important;
}

.myClassroomButton {
  margin-right: 12px;
  padding: 5px 10px !important;
  font-weight: 500 !important;
}
