.titleImage {
  margin-left: 20px
}

.navbar {
  border-bottom: 1px solid #dbe2e8;
  box-shadow: 0 2px 4px 0 rgba(46, 61, 73, 0.2);
  position: relative;
}

.leftMenu {
  flex: 1;
  margin-left: 20px;
}

.myClassroomButton {
  margin-right: 12px;
  padding: 5px 10px !important;
  font-weight: 500 !important;
}
