.tagLink {
  color: #7D97AD;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-left: 8px;
}

.readMoreWrapper {
  flex: 1;
  margin-top: 24px;
  margin-bottom: 24px;
}
