.articlePreview {
  p {
    font-family: 'Lato';
    font-size: 18px !important;
    line-height: 1.58 !important;
    letter-spacing: -.004em !important;
    font-weight: 400 !important;
  }
  h2 {
    margin-top: 3px;
    font-size: 29px;
    margin-left: -1.81px;
    line-height: 1.04;
    letter-spacing: -.028em;
  }
}
