.signup {
  display: flex;
  margin: 60px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 60px;
  max-width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  @media screen and (max-width: 768px) {
    margin: 20px 0;
  }
  @media screen and (max-width: 600px) {
    margin: 10px 0;
  }
}

.formFields {
  width: 100%;
  max-width: 480px;
}
